@import "tailwindcss";





@keyframes rippleFade {
  0% {
    opacity: 0.6;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.ripple-fade {
  /* position: absolute; */
  border-radius: 50%;
  width: 100px;         /* Adjust width */
  height: 100px;        /* Adjust height */
  animation: rippleFade 2s linear infinite;
  pointer-events: none;
}

